@import url('https://fonts.googleapis.com/css?family=Montserrat');

.Keyboard > div{
    font-size:2vw;
    color: #13326d;
    font-weight: bold;
    width: 4vw;
    padding-top:4vw;
    margin:0.5vw 1.2vw;
    height: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    border:3px solid #13326d;
    position: relative;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background:#E2F0F1;
    transition:box-shadow .3s, background .3s;
    -webkit-transition:box-shadow .3s, background .3s;
    -moz-transition:box-shadow .3s, background .3s;
    -ms-transition:box-shadow .3s, background .3s;
    -o-transition:box-shadow .3s, background .3s;
}

.Keyboard > div > span{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.Keyboard > div:hover{
    box-shadow: 2px 2px 15px rgb(170, 170, 170);
    background:rgb(228, 253, 255);
}

.click{
    opacity: 0.5;
}

@media (max-width: 600px) {
    .Keyboard > div{
        width: 8vw;
        padding-top:8vw;
        font-size:4vw;
    }
    
    
  }